button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 18px;
    padding: 16px;
    width: 240px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
}

.page-gallery {
    background-color: #696969;
}

.page-contact {
    background-color: #696969;
}

.page-home {
    background-color: #696969;
}

.page-about {
    background-color: #696969;
}

button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

button:hover span {
    padding-right: 15px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

@media (max-width: 768px) {
    button {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    button {
        font-size: 5vw;
    }
}

