@import url(satoshi.css);

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(81, 81, 81));
    margin: 0;
    padding: 0;
    font-family: "Fredoka", system-ui;
    box-sizing: border-box;
    min-height: 100vh;
}
nav {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    
    
}

a, p, h1 {
    color: black;
    font-family: 'Satoshi-black';
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

a {
    font-size: clamp(1rem, 3vw, 1.5rem);
}

p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: 20px;
}

nav ul {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.337);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    border-radius: 0px 0px 20px 20px;
}

nav ul::scroll-marker {
    background-color: rgba(255, 255, 255, 0.337);
    border-radius: 20px 20px 20px 20px;
    position: sticky;
}

nav li {
    height: 50px;
}

li a:hover {
    border-style: solid;
    border-color: #65656500;
    border-radius: 0px 0px 20px 20px;
    border-width: 1px;
    transition: 0.1s;
    

}

li a:after {
    border-style: solid;
    border-color: #65656500;
    border-radius: 0px;
    transition: 0.1s;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 1.5rem);
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: #696969;
    box-shadow:  0 0 40px rgb(0, 0, 0);
    transition: 0.5s;

}

nav li:first-child {
    margin-right: auto;
}

.full-width-button {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    text-align: center;
    box-sizing: border-box;
}

.full-width-button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    width: 100%;
    font-size: clamp(1rem, 4vw, 1.5rem);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

button {
    margin: 10px 0;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 25px;
    max-width: 100%;
    margin: auto;
    background-color: #ffffff49;
    left: 0;
    right: 0;
    backdrop-filter: blur(15px);

}

.video, .gallery {
    text-align: center;
    margin: 20px auto;
}

.video video {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery .desc {
    padding: 15px;
    text-align: center;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap;
}

.col {
    text-align: center;
}

.col img {
    max-width: 100px; 
    height: auto;
    display: block;
    margin: 0 auto;
}

.col p {
    margin-top: 10px;
}

.brd {
    background-color: rgba(255, 255, 255, 0.345); 
    font-weight: bold; 
    border-radius: 20px;
    max-width: 1400px; 
    width: 90%; 
    height: auto;
    margin-top: 50px; 
    padding: 20px 30px; 
    font-size: 18px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flexbox;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.img-brd {
    background-color: rgba(184, 184, 184, 0.543); 
    font-weight: bold; 
    border-radius: 20px;
    max-width: 1400px; 
    width: 90%; 
    height: auto;
    margin-top: 50px; 
    padding: 20px 30px; 
    font-size: 18px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

img {
    border-radius: 20px;
}

video {
    border-radius: 20px;
}

.contact-button {
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 25px;

}

.email-button {
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 25px;
    transition: transform 0.3s ease; 

}

.res-txt {
    font-size: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #656565;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #6565653c;
    backdrop-filter: blur(25px);
}

.menu-button {
    display: none;
}

@media (max-width: 800px) {
    p {
        font-size: clamp(1rem, 3vw, 1.5rem);
    }

    footer {
        font-size: 18px;
        padding: 5px;
    }

    .gallery img {
        max-width: 100%;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .col {
        width: 100%;
        max-width: none;
    }

    button {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .contact-button {
        bottom: 10px;
        right: 10px;
        width: 80%;
    }

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    nav ul {
        flex-direction: column;
        padding: 0;
    }

    .col img {
        max-width: 80px;
    }

    button {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }
}